{% extends 'base.html' %}

{% block content %}

{% if response %}

<pre>
<code class=" line-numbers language-{{lang}}">

{{response}}

</code>
</pre>
<br><br>

<form method=POST action="{% url 'suggest' %}" >
	{% csrf_token %}
<div class="mb-3">
  <textarea class="form-control" name="code" placeholder="Have A.I. Suggest My Code" rows="3">{{ code }}</textarea>
</div>
<select class="form-select" name="lang">
  <option selected>Select Programming Language</option>
  {% for lang in lang_list%}

  	<option value="{{ lang }}">{{lang}}</option>

  {% endfor %}
</select>
<br><br>
<button type="submit" class="btn btn-secondary">Submit</button>
</form>



{% else %}

<pre>
<code class=" line-numbers language-python">

if name == John":
	print("Hello John.")
else:
	print("Hello Friend")

</code>
</pre>
<br><br>

<form method=POST action="{% url 'suggest' %}" >
	{% csrf_token %}
<div class="mb-3">
  <textarea class="form-control" name="code" placeholder="Have A.I. Suggest My Code" rows="3"></textarea>
</div>
<select class="form-select" name="lang">
  <option selected>Select Programming Language</option>
  {% for lang in lang_list%}

  	<option value="{{ lang }}">{{lang}}</option>

  {% endfor %}
</select>
<br><br>
<button type="submit" class="btn btn-secondary">Submit</button>
</form>

{% endif %}

{% endblock %}	